div, span {
    color: red;
    background-color: yellow;
}
/*class selector*/
.blue{
    background-color: blue;
}
/*id selector*/
#green{
    background-color: aqua;
}
/*child selector*/
div > p{
    background-color: brown;
    color: yellow;
}
/*Descendant selector*/
div p{
    background-color: bisque;

}
/*Universal selector*/
*{
    margin: 0;
    padding: 0;
}
/*Pseudo Selector*/
a:visited{
    color: chartreuse;
}
a:link{
    color: palevioletred;
}
a:active{
    background-color: red;
}
a:hover{
    color: blueviolet;
}
p:first-child{
    background-color: aqua;
}